fieldset {
  background: white;
  margin: 1em auto;
  border: 1px solid grey;
  border-radius: 4px;
}

body {
  background: whitesmoke;
}

section {
  background: white;
}

.themeOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexVertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.borderSizes,
.colors,
.fonts {
  margin: 0 0.5em;
  width: 31%;
}

@media (max-width: 630px) {
  .borderSizes,
  .colors,
  .fonts {
    background: white;
    margin: 1em auto;
    border: 1px solid grey;
    border-radius: 4px;
    width: 100%;
  }
}

[id^="btnTheme"],
[id^="btnFont"] {
  margin-bottom: 1em;
}

.pixelsRadios {
  margin-bottom: 2.33em;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.05ch;
  margin-top: 0;
  margin-bottom: 0.25em;
}

p {
  margin: 0;
}

.flexVertical button:last-child {
  margin-bottom: 0;
}

.flexVertical label:last-child {
  margin-bottom: 1.3em;
}

/* >>>>>>>>>>>>>>>>>>>> */

.container .red .score {
  background: darksalmon;
}

/* BACKGROUND COLORS */
/* BACKGROUND COLORS */
.score.bkgd-red,
.newsItem.bkgd-red,
.favoriteItem.bkgd-red {
  background: darksalmon;
}
.score.bkgd-purple,
.newsItem.bkgd-purple,
.favoriteItem.bkgd-purple {
  background: mediumorchid;
}
.score.bkgd-blue,
.newsItem.bkgd-blue,
.favoriteItem.bkgd-blue {
  background: lightskyblue;
}
.score.bkgd-green,
.newsItem.bkgd-green,
.favoriteItem.bkgd-green {
  background: darkseagreen;
}

/* FONT SIZES */
.score.fontSize-extraSmall,
.newsItem.fontSize-extraSmall,
.favoriteItem.fontSize-extraSmall {
  font-size: x-small;
}
.score.fontSize-small,
.newsItem.fontSize-small,
.favoriteItem.fontSize-small {
  font-size: x-small;
}
.score.fontSize-large,
.newsItem.fontSize-large,
.favoriteItem.fontSize-large {
  font-size: x-large;
}
.score.fontSize-extraLarge,
.newsItem.fontSize-extraLarge,
.favoriteItem.fontSize-extraLarge {
  font-size: x-large;
}

/* BORDER SIZES */
.score.borderSize-one,
.newsItem.borderSize-one,
.favoriteItem.borderSize-one {
  border: 1px solid rgb(255, 119, 119);
}
.score.borderSize-three,
.newsItem.borderSize-three,
.favoriteItem.borderSize-three {
  border: 3px solid rgb(255, 119, 119);
}
.score.borderSize-five,
.newsItem.borderSize-five,
.favoriteItem.borderSize-five {
  border: 5px solid rgb(255, 119, 119);
}
