fieldset {
  background: white;
  margin: 1em auto;
  border: 1px solid grey;
  border-radius: 4px;
}

body {
  background: whitesmoke;
}

section {
  background: white;
}

.themeOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexVertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.borderSizes,
.colors,
.fonts {
  margin: 0 0.5em;
  width: 31%;
}

@media (max-width: 630px) {
  .borderSizes,
  .colors,
  .fonts {
    background: white;
    margin: 1em auto;
    border: 1px solid grey;
    border-radius: 4px;
    width: 100%;
  }
}

[id^="btnTheme"] {
  margin-bottom: 1em;
}

[id^="fs-"],
[id^="btnFont"] {
  margin-bottom: 1em;
}

.pixelsRadios {
  margin-bottom: 2.33em;
}

h2 {
  font-size: 1.3em;
  letter-spacing: 0.05ch;
  margin-top: 0;
  margin-bottom: 0.25em;
}

p {
  margin: 0;
}

.flexVertical button:last-child {
  margin-bottom: 0;
}

.flexVertical label:last-child {
  margin-bottom: 1.3em;
}

/* BACKGROUND COLORS */

.red .score,
.red .newsItem,
.red .favoriteItem {
  background: rgb(255, 149, 149);
}

.purple .score,
.purple .newsItem,
.purple .favoriteItem {
  background: rgb(235, 156, 255);
}

.blue .score,
.blue .newsItem,
.blue .favoriteItem {
  background: rgb(174, 232, 255);
}

.green .score,
.green .newsItem,
.green .favoriteItem {
  background: rgb(188, 233, 188);
}
/* FONT SIZES */
.fs-xSmall .score,
.fs-xSmall .newsItem,
.fs-xSmall .favoriteItem {
  font-size: x-small;
}

.fs-small .score,
.fs-small .newsItem,
.fs-small .favoriteItem {
  font-size: small;
}
.fs-large .score,
.fs-large .newsItem,
.fs-large .favoriteItem {
  font-size: large;
}

.fs-xLarge .score,
.fs-xLarge .newsItem,
.fs-xLarge .favoriteItem {
  font-size: x-large;
}
/* BORDER SIZES */
.border-one .score,
.border-one .newsItem,
.border-one .favoriteItem {
  border: 1px solid goldenrod;
}
.border-three .score,
.border-three .newsItem,
.border-three .favoriteItem {
  border: 3px solid goldenrod;
}
.border-five .score,
.border-five .newsItem,
.border-five .favoriteItem {
  border: 5px solid goldenrod;
}
